<div class="d-flex justify-content-center align-items-center">
  <button class="arrow" (click)="previousMonth()" [disabled]="outRangeLeft">
    <i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i>
  </button>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Month</mat-label>
      <input matInput [matDatepicker]="picker" [max]="max" [min]="min" [formControl]="selectedMonth" attr.disabled="true" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        disabled="false"
        startView="multi-year"
        (yearSelected)="chosenYearHandler($event)"
        (monthSelected)="chosenMonthHandler($event, picker)"
        panelClass="example-month-picker"
      >
      </mat-datepicker>
    </mat-form-field>
  </div>
  <button class="arrow" (click)="nextMonth()" [disabled]="outRangeRight">
    <i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
  </button>
</div>
