$edit-green-color: #00b159;
$money-green-color: #85bb65;
$button-green-color: #86c232;
$success-green-color: #3f903f;
$gable-green: #2a4444;

$delete-color: #d11141;
$danger-color: #d9534f;
$warning-color: #f0ad4e;

$rolos-blue-color: #00aedb;
$primary-blue-color: #2e6da4;

$black-color: rgba(0, 0, 0, 0.87);
$topnav-background-color: #222;
$black-opacity-color: rgba(0, 0, 0, 0.2);
$black-button-color: #00000075;
$black-color: #000000;
$black-background-color: #868e9647;
$night-background-color: #303030;

$white-color: #ffffff;
$white-opacity-color: rgba(255, 255, 255, 0.8);

$gray-color: #cccccc;
$gray: #888888;
$dark-gray-color: #999999;
$super-silver: #eeeeee;
$athens-gray: #e9ecef;
